Candidatures Automatiques.json
{
  "name": "Candidatures Automatiques",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "name": "Cron Daily",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -496,
        48
      ],
      "id": "f0492c3f-1961-4be3-a2a4-20d5716ce241"
    },
    {
      "parameters": {
        "url": "https://www.jobartiscameroun.com/",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        }
      },
      "name": "Fetch Jobartis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -304,
        -112
      ],
      "id": "0b4b5c45-c57b-428d-85db-6ac12c7d78d8"
    },
    {
      "parameters": {
        "functionCode": "// Parser Jobartis HTML\nreturn [{ json: { title: 'Développeur React', company: 'Acme Tech', apply_email: 'jobs@acmetech.cm' } }];"
      },
      "name": "Parse Jobartis",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -80,
        -144
      ],
      "id": "be56b716-b6af-4474-a9a3-ba4237b91db8"
    },
    {
      "parameters": {
        "url": "https://www.emploi.cm",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": " User-Agent",
              "value": " n8n"
            }
          ]
        }
      },
      "name": "Fetch Emploi.cm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "00b83547-9bc6-4dfc-b955-bf6e8e10df78"
    },
    {
      "parameters": {
        "functionCode": "// Parser Emploi.cm RSS\nreturn [{ json: { title: 'Développeur Node.js', company: 'Tech Solutions', apply_email: 'recrutement@techsolutions.cm' } }];"
      },
      "name": "Parse Emploi.cm",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "6856c5df-5234-4dcd-ba60-943415bc30af"
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs/search/?keywords=developpeur+web&location=Cameroun",
        "responseFormat": "string",
        "options": {}
      },
      "name": "Fetch LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -304,
        112
      ],
      "id": "06b65e8f-f38b-4d22-9d11-ac0c90c040e2"
    },
    {
      "parameters": {
        "functionCode": "// Parser LinkedIn HTML (public jobs uniquement)\nreturn [{ json: { title: 'Développeur Full Stack', company: 'LinkedInTech', apply_email: 'hr@linkedintech.cm' } }];"
      },
      "name": "Parse LinkedIn",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ],
      "id": "6c75cb1f-d7f7-4f2e-9219-8ec9925aec18"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1Vk03UDh0CcNz9fY1XWoZ5jeoExTO3bij/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Get CV from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        288,
        96
      ],
      "id": "2ee1fd4f-bcb5-4b78-a403-369f3eff2d76",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cKL2KqHlScTyu6ph",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "items.forEach(item => {\n  if (!item.json) {\n    item.json = {};\n  }\n  if (item.binary && item.binary.data && item.binary.data.data) {\n    item.json.coverLetter = item.binary.data.data.toString('utf8');\n  } else {\n    item.json.coverLetter = '';\n  }\n});\nreturn items;"
      },
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        432,
        -64
      ],
      "id": "58ab797c-0f80-45d0-aed0-8966de0de8c8"
    },
    {
      "parameters": {
        "subject": "Candidature Développeur Web - {{$json[\"title\"]}}",
        "message": "salut tout le monde",
        "additionalFields": {}
      },
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        592,
        -64
      ],
      "id": "b008278f-6684-414c-8e0f-95c165bde9e4",
      "credentials": {
        "gmailOAuth2": {
          "id": "uwXoc2nz4hiKFxJm",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => ({ json: { title: item.json.title, company: item.json.company, email: item.json.apply_email, date: new Date().toISOString(), status: 'Envoyée' } }));"
      },
      "name": "Log Sent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        736,
        -16
      ],
      "id": "f312bfbc-b397-4d52-bd30-d79604753033"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "__CUSTOM_API_CALL__"
      },
      "name": "Get Cover Letter from Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        176,
        -96
      ],
      "id": "1d8f3de6-3dd0-45f4-b0fb-27a23dcb8bf5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Oq2RmEIWX6z08K1p",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Daily": {
      "main": [
        [
          {
            "node": "Fetch Jobartis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Emploi.cm",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobartis": {
      "main": [
        [
          {
            "node": "Parse Jobartis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Emploi.cm": {
      "main": [
        [
          {
            "node": "Parse Emploi.cm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn": {
      "main": [
        [
          {
            "node": "Parse LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jobartis": {
      "main": [
        [
          {
            "node": "Get Cover Letter from Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Emploi.cm": {
      "main": [
        [
          {
            "node": "Get Cover Letter from Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn": {
      "main": [
        [
          {
            "node": "Get Cover Letter from Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CV from Google Drive": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Log Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cover Letter from Google Docs": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get CV from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc3f10d0-0521-4036-8fdc-15cb0453b18c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01f8e283db514f2f316928a452a75f3cae9bde159e43f85e1e9ac3037a341436"
  },
  "id": "vTJMUZCGfa1Vt8ys",
  "tags": []
}